// resources/css/components/_dashboard.scss

.dashboard-container {
    padding: 20px;
    background-color: #f8f9fa;

    .page-title {
        margin-bottom: 20px;
        font-size: 2rem;
        color: $primary-color;
    }

    .lead {
        font-size: 1.25rem;
        color: #333;
    }
}
