.coupons-container {
    .slick-slider {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        overflow: hidden;

        .carousel-slide {
            flex: 1 0 48%;
            box-sizing: border-box;
            max-height: 300px;
            position: relative;

            .carousel-link {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 8px;
                    cursor: pointer;
                }
            }

            .no-link {
                img {
                    cursor: auto;
                }
            }

            .btn-view-menu {
                position: absolute;
                left: 6%;
                bottom: 6%;
                background-color: $primary-color;
                color: $white;
                text-decoration: none;
                font-size: clamp(10px, 2vw, $secondary-font-size);
                font-weight: $primary-font-weight;
                padding: 0 16px;
                box-shadow: 2px 2px 0 $secondary-color;
                transition: background-color 0.3s ease, box-shadow 0.3s ease;
                z-index: 10;
                cursor: pointer;
                max-width: 80%;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;

                &:hover {
                    background-color: darken($primary-color, 10%);
                    box-shadow: 6px 6px 0 $primary-color;
                }
            }
        }
    }

    p {
        text-align: center;
        font-size: 16px;
        color: $primary-color;
        padding: 20px;
        margin: 0;
    }

    @media (max-width: 1200px) {
        .slick-slider {
            .carousel-slide {
                flex: 1 0 48%;
            }
        }
    }

    @media (max-width: 992px) {
        .slick-slider {
            .carousel-slide {
                flex: 1 0 48%;
            }
        }
    }

    @media (max-width: 768px) {
        .slick-slider {
            flex-direction: column;
            overflow-x: hidden;
        }

        .carousel-slide {
            flex: 1 0 100%;
            max-height: 300px;
        }
    }
}
