.featured-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99;

    .featured-modal {
        position: relative;
        background: rgba(224, 120, 36, 0.5);
        padding: 2rem;
        border-radius: 3px;
        text-align: center;
        width: 80%;
        max-width: 600px;
        max-height: 80%;
        overflow: hidden;
        transform: translateY(-10%);
        display: flex;
        flex-direction: column;

        img {
            border-radius: 5px;
            width: 100%;
            height: auto;
            display: block;
            object-fit: contain; /* Ensures the image fits within the container without cropping */
            max-height: 300px; /* Limits the height of the image */
        }

        .featured-content {
            position: relative;
            flex-grow: 1;

            img {
                width: 100%;
                height: auto;
                display: block;
                object-fit: cover;
            }

            .featured-text {
                position: absolute;
                top: 10px;
                left: 10px;
                background: rgba(0, 0, 0, 0.6);
                color: $white;
                padding: 10px 20px;
                font-size: 1rem;
                border-radius: 5px;
                z-index: 1000;
                max-width: 90%;
                font-style: italic;
            }

            .btn-view-more {
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 10px 20px;
                background: $secondary-color;
                color: $white;
                font-weight: $primary-font-weight;
                text-decoration: none;
                border-radius: 5px;
                z-index: 1000;
                opacity: 0.8;

                &:hover {
                    color: $primary-color;
                    background-color: $white;
                }
            }
        }
    }

    .close--overlay_btn {
        position: absolute;
        top: 3%;
        right: 1.4%;
        font-size: $h2-font-size;
        width: 40px;
        height: 40px;
        border: 2px solid #333;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #333;
        transition: color 0.3s, background-color 0.3s;
        z-index: 1000;

        &:hover {
            color: $white;
            background-color: $primary-color;
        }
    }
}

@media (max-width: 576px) {
    .featured-overlay .featured-modal {
        padding: 1rem;
    }

    .featured-overlay .close--overlay_btn {
        width: 22px;
        height: 22px;
        font-size: 1.5rem;
    }

    .featured-overlay .featured-modal .featured-content .featured-text{
        font-size: 0.5rem;
    }

    .featured-overlay .featured-modal .featured-content .btn-view-more{
        font-size: 0.4rem;
        padding: 0.5rem;
    }
}
