.container {
    margin: 0 auto;
    padding: 0 29px;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        padding: 0 174px;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 0;
    height: 115px;
    flex-wrap: nowrap;

    .navbar-brand {
        display: flex;
        align-items: center;
        margin-top: 1px;
        margin-bottom: 1px;
        gap: 14px;
        justify-content: center; // Center the brand horizontally

        img {
            max-height: 72px;
            height: auto;
        }
    }

    .navbar-collapse {
        width: 50%;

        .navbar-info {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            gap: 14px;

            .order-info {
                display: flex;
                align-items: center;
                margin-right: 29px;

                .btn-order-now {
                    margin-right: 14px;
                    background-color: $primary-color;
                    font-weight: $primary-font-weight;
                    color: $white;
                    border: none;
                    padding: 12px 22px;
                    font-size: 14px;
                    border-radius: 7px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: none;
                        background-color: darken($primary-color, 10%);
                    }
                }

                .contact-numbers {
                    display: flex;
                    flex-direction: column;
                    font-size: 14px;
                    font-weight: 600;

                    span {
                        display: block;
                    }
                }
            }

            .address-info {
                display: flex;
                align-items: center;
                gap: 14px;

                .btn-address {
                    display: flex;
                    align-items: center;
                    background-color: $primary-color;
                    color: $white;
                    border: none;
                    padding: 10px 14px;
                    border-radius: 7px;
                    font-size: 14px ;
                    cursor: pointer;

                    .address-icon {
                        font-size: 1.5rem;
                    }
                    &:hover {
                        text-decoration: none;
                        background-color: darken($primary-color, 10%);
                    }
                }

                .address-details {
                    margin: 0;
                    line-height: 1.4;
                    font-weight: 600;
                    max-width: 288px;
                    font-size: 14px;
                    text-align: center;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .container{
        .navbar{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .navbar-collapse {
            display: none;
        }
    }
}
