.container {
    margin: 0 auto;
    padding: 0 2vw;
    max-width: 1440px;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        padding: 0 12vw;
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    padding: 0;
    height: 8vw;
    box-shadow: 0 0.2vw 0.4vw rgba(0, 0, 0, 0.1);
    flex-wrap: nowrap;
    .navbar-brand {
        display: flex;
        align-items: center;
        margin-top: 0.1vw;
        margin-bottom: 0.1vw;
        gap: 1vw;

        img {
            max-height: 5vw;
            height: auto;
        }
    }
    .navbar-collapse{
        width: 50%;
        .navbar-info {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 100%;
            gap: 1vw;

            .order-info {
                display: flex;
                align-items: center;
                margin-right: 2vw;

                .btn-order-now {
                    margin-right: 1vw;
                    background-color: $primary-color;
                    color: $white;
                    border: none;
                    padding: 0.8vw 1.5vw;
                    font-size: 1vw;
                    border-radius: 0.5vw;
                    cursor: pointer;

                    &:hover {
                        background-color: darken($primary-color, 10%);
                    }
                }

                .contact-numbers {
                    display: flex;
                    flex-direction: column;
                    font-size: 1vw;
                    font-weight: 600;

                    span {
                        display: block;
                    }
                }
            }

            .address-info {
                display: flex;
                align-items: center;
                gap: 1vw;

                .btn-address {
                    display: flex;
                    align-items: center;
                    background-color: $primary-color;
                    color: $white;
                    border: none;
                    padding: 0.8vw 1.5vw;
                    border-radius: 0.5vw;
                    font-size: 1vw;
                    cursor: pointer;

                    .address-icon {
                        margin-right: 0.5vw;
                    }
                }

                .address-details {
                    margin: 0;
                    line-height: 1.4;
                    font-weight: 600;
                    max-width: 20vw;
                    font-size: 1vw;
                    text-align: center;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}

