/* Example SCSS */
.no-content-available {
    text-align: center;
    padding: 20px;
    font-size: 1.5em;
    color: #777;
}
.no-content-image {
    max-width: 100px; /* Adjust size as needed */
    height: auto;
    margin-bottom: 15px;
    border-radius: 50%;
}
