.slick-slider {
    position: relative;
    height: auto;
    overflow: hidden;
    margin-top: 1%;
    object-fit: cover;

    .carousel-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        position: relative;

        .text-overlay-wrapper {
            position: relative;
            display: inline-block;
            width: 100%;

            img {
                display: block;
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}

#menu-image-slider {
    margin: 10px 0;
    .carousel-slide {
        .text-overlay-wrapper {
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                height: 200px;

                @media (max-width: 1024px) and (min-width: 769px) {
                    height: 180px;
                }

                @media (max-width: 768px) {
                    height: 160px;
                }
            }

            .text-overlay-container {
                .text-overlay-primary {
                    position: absolute;
                    top: 35%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $white;
                    font-size: $h3-font-size;
                    font-weight: bold;
                    text-shadow: $text-shadow;
                    z-index: 10;
                    pointer-events: none;
                    text-align: center;
                    width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .btn-view-menu {
                    position: absolute;
                    top: 65%;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $primary-color;
                    color: $white;
                    text-decoration: none;
                    padding: 8px 24px;
                    font-size: clamp(12px, 2vw, $primary-font-size);
                    font-weight: $primary-font-weight;
                    text-shadow: none;
                    box-shadow: 2px 2px 0 $secondary-color;
                    transition: background-color 0.3s ease, box-shadow 0.3s ease;
                    z-index: 10;
                    cursor: pointer;

                    &:hover {
                        background-color: darken($primary-color, 10%);
                        box-shadow: 6px 6px 0 $primary-color;
                    }
                }
            }
        }
    }
}

.container-home {
    overflow: hidden;

    #home-image-slider {
        .carousel-slide {
            display: flex;
            justify-content: left;

            .text-overlay-wrapper {
                position: relative;
                width: 100%;
                height: auto;

                img {
                    margin: 16px 0;
                    width: 98%;
                    height: auto;
                    aspect-ratio: 1 / 1;
                    object-fit: contain;

                    @media (max-width: 993px) {
                        width: 100%;
                    }
                }

                .custom-overlay {
                    position: absolute;
                    top: 6%;
                    left: 6%;
                    padding: 0;
                    z-index: 10;
                    width: 118px;
                    height: 23px;
                    background-color: $white;
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;

                    .custom-text {
                        font-size: 17px;
                        font-weight: 600;
                        color: $primary-color;
                        text-align: center;
                        margin: 0;
                    }
                }

                .text-overlay-primary {
                    position: absolute;
                    top: 10%;
                    left: 6%;
                    color: $white;
                    font-size: $h2-font-size;
                    font-weight: bold;
                    z-index: 10;
                    pointer-events: none;
                    text-align: left;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-shadow: $text-shadow;
                }

                .text-overlay-secondary {
                    position: absolute;
                    top: 28%;
                    left: 6%;
                    color: $white;
                    font-size: $h3-font-size;
                    font-weight: $primary-font-weight;
                    z-index: 10;
                    pointer-events: none;
                    text-align: left;
                    width: 100%;
                }

                .btn-view-menu {
                    position: absolute;
                    top: 88%;
                    left: 6%;
                    background-color: $primary-color;
                    color: $white;
                    text-decoration: none;
                    font-size: clamp(16px, 2vw, $secondary-font-size);
                    font-weight: $primary-font-weight;
                    padding: 4px 16px;
                    text-shadow: none;
                    box-shadow: 2px 2px 0 $secondary-color;
                    transition: background-color 0.3s ease, box-shadow 0.3s ease;
                    z-index: 10;
                    cursor: pointer;
                    @media (max-width: 576px) {
                        top: 84%;
                    }
                    &:hover {
                        background-color: darken($primary-color, 10%);
                        box-shadow: 6px 6px 0 $primary-color;
                    }
                }
            }
        }
    }
}
