@mixin responsive($breakpoint) {
    @if $breakpoint == 'mobile' {
        @media (max-width: 767px) {
            @content;
        }
    } @else if $breakpoint == 'tablet' {
        @media (min-width: 768px) and (max-width: 1024px) {
            @content;
        }
    } @else if $breakpoint == 'desktop' {
        @media (min-width: 1025px) {
            @content;
        }
    }
}

@mixin border-radius($radius) {
    border-radius: $radius;
}

.h1-custom {
    margin: 14px 0;
    text-align: center;
    color: $primary-color;
    font-weight: $heading-font-weight;
    font-size: 40px;

    @include responsive('mobile') {
        font-size: 24px;
    }

    @include responsive('tablet') {
        font-size: 32px;
    }
}

.text-custom {
    margin: 0 58px 29px 58px;
    text-align: center;
    color: $black;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: 2px;

    @include responsive('mobile') {
        font-size: 14px;
        margin: 0 20px 20px 20px;
    }

    @include responsive('tablet') {
        font-size: 16px;
        margin: 0 40px 25px 40px;
    }
}
.text{
    color: $black;
    font-weight: normal;
    font-size: 17px;
    text-align: justify;

    @include responsive('mobile') {
        font-size: 14px;
        margin: 0 20px 20px 20px;
    }

    @include responsive('tablet') {
        font-size: 16px;
        margin: 0 40px 25px 40px;
    }
}
