.blog-container {
    .h1-custom {
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }

        @media (max-width: 576px) {
            font-size: 1.25rem;
        }
    }

    .text-custom {
        margin: 0;
        margin-bottom: 2rem;
        text-align: left;
        align-items: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-image-detail {
            width: 25%;
            height: auto;
            max-height: 500px;
            object-fit: cover;
            margin-bottom: 1rem;
        }
        .blog-content{
            margin: 10px;
        }
    }

    .blog-metadata {
        margin-top: 1rem;
        text-align: left;
        color: #777;
        font-size: 0.875rem;
    }
}
