.blog-container {
    .h1-custom {
        font-size: 2rem;
        margin-bottom: 1rem;

        @media (max-width: 768px) {
            font-size: 1.5rem;
        }

        @media (max-width: 576px) {
            font-size: 1rem;
            margin-bottom: 0.5rem;
        }
    }

    .text-custom {
        margin: 0;
        margin-bottom: 2rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        .blog-image-detail {
            width: 100%;
            max-width: 100%;
            height: auto;
            max-height: 300px;
            object-fit: cover;
            margin-bottom: 1rem;
        }

        .blog-content {
            margin: 0 1rem;
            font-size: 1.2rem;
            letter-spacing: normal;
            line-height: normal;

            @media (max-width: 768px) {
                font-size: 1rem;
            }

            @media (max-width: 576px) {
                font-size: 0.8rem;
                margin: 0 0.5rem;
            }

            text-align: left;
        }
    }

    .blog-metadata {
        margin-top: 1rem;
        text-align: left;
        color: #777;
        font-size: 0.875rem;

        @media (max-width: 576px) {
            font-size: 0.8rem;
        }
    }
}
