.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .menu-image-container,
    .menu-pdf-container {
        width: 100%; // Full width for both containers
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;

        img,
        canvas {
            width: 100%; // Ensure the content inside the container is also full width
            height: auto;
            display: block;
            object-fit: cover;
        }
    }
}

.menu-pdf-container {
    display: flex;
    flex-direction: column; // Stack PDF pages vertically
    justify-content: center;
    align-items: center;

    .pdf-page-wrapper {
        width: 100%;
        margin-bottom: 20px;

        canvas {
            width: 100%; // Full-width for each PDF page
            height: auto;
        }
    }
}
