/* Style for the PDF viewer */
.menu-pdf-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;

    #pdf-viewer {
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        overflow: hidden;

        canvas {
            width: 100%;
            height: auto;
            display: block;
            margin-bottom: 10px;
        }
    }
}

.menu-image-container {
    width: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
        width: 100%; 
        height: auto;
        transition: none;
        transform: none;
    }
}

.menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 798px) and (max-width: 1199px) {
    .menu-image-container {
        width: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }
}
