/* _reset.scss */

/* Reset margin and padding for all elements */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}
/* Reset margin and padding for all column classes */
.col-lg-6,
.col-md-12 {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ul,
ol {
    list-style: none;
}

/* Remove default border on images */
img {
    cursor: pointer;
    border: 0;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(0.99);
    }
}

/* Remove default underline on links */
a {
    text-decoration: none;
    color: inherit;
}

/* Remove default styling for tables */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Ensure font sizes are consistent */
body {
    font-family: sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

/* Set a consistent base font size */
html {
    font-size: 100%; /* 16px for most browsers */
}

.row{
    margin: 0;
    padding: 0;
    width: 100%;
}
/* Ensure that heading elements have a consistent margin */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

/* Remove default styling for forms */
input,
textarea,
button,
select {
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

/* Set default styles for buttons */
button {
    background: none;
    cursor: pointer;
}

/* Set default styles for table elements */
th,
td {
    text-align: left;
}
